:root {
  --primary-color: #3a3a3a;
}

* {
  margin: 0;
  padding: 0;
}

/* -----------------------
    Nav
---------------------- */

.nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 85px;
  background: rgba(255, 144, 14, 0.1);
}

.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.nav-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}

.nav-button {
  display: flex;
  align-items: center;
  width: 470px;
  justify-content: space-between;
}

.nav-button a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* ********* */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.nav-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
}

.button-container {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.nav-buttons {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}

/* ----------------
    header text
------------------------ */

.header-container {
  display: flex;
  width: 90%;
  gap: 133px;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 100px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 580px;
}

.text-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 52px;
}

.text-description {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  width: 500px;
}

.text-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  background: #e02c6d;
  border-radius: 41px;
  width: 196px;
  height: 44px;
  border: none;
}

.image-container {
  width: 440px;
  height: 414px;
  background: url("../images/Circle\ design.svg");
}

/* --------------
    images section
-------------------- */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.images {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid #80808029;
  border-bottom: 2px solid #80808029;
  margin-bottom: 100px;
}

.image {
  padding: 15px 0 15px 0;
  width: 84px;
  height: 32px;
}

/* ----------------
    blogs
-------------------- */
article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blogs {
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.blog {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.blog-image img {
  width: 99%;
}

.blog-title {
  color: #18191f;
  font-weight: 500;
  font-size: 28px;
}

.price {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 24px;
}

.blog-ratings {
  display: flex;
  gap: 20px;
}

.fa-star.filled {
  color: #fb8200;
}

.fa-star {
  width: 11.07px;
  height: 10.32px;
  color: gray;
}

.total {
  color: #5e6366;
  font-weight: 700;
  font-size: 14px;
}

.blog-description {
  position: relative;
  bottom: 10px;
  width: 196px;
}

.blog-button {
  display: flex;
  width: 74%;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.blog-button a {
  display: flex;
  gap: 10px;
  color: rgba(224, 44, 109, 0.87);
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

/* --------------------
    product style
------------------------ */

.product-container {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 96px;
}

.product-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-title {
  color: #0a0826;
  font-weight: 700;
  font-size: 38px;
  width: 600px;
}

.product-description {
  color: #6c6c6c;
  font-weight: 700;
  font-size: 16px;
  width: 500px;
}

.product-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  background: #e02c6d;
  width: 155px;
  height: 44px;
  border: none;
}

.product-image-container {
  width: 400px;
  height: 270px;
}

/* -------------------
    footer
---------------------- */

.footer {
  display: flex;
  justify-content: center;
  height: 240px;
  align-items: center;
  background-color: #2b2b49;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.footer-title {
  font-weight: 700;
  font-size: 24px;
}

.footer-description {
  font-weight: 700;
  font-size: 14px;
}

.footer-image {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.footer-image a {
  color: white;
}

/* -------------------------------
    media query
--------------------------------------- */

@media only screen and (max-width: 767px) {
  .nav {
    width: 90%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .button-container {
    width: 30%;
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .text-container,
  .text-description,
  .image-container,
  .image-container img,
  .product-title,
  .product-description,
  .product-image-container,
  .product-image-container img {
    width: 100%;
  }

  .product-image-container {
    height: 150px;
  }

  .images {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
  }

  article {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-container {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .button-container {
    width: 50%;
  }

  .header-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 49px;
  }

  article {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-container {
    flex-direction: column-reverse;
    gap: 0;
  }

  .product-image-container {
    width: 100%;
    height: 100%;
  }

  .product-image-container img {
    width: 75%;
  }
}
